{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - A propos
{% endblock %}

{% block body %}
    <h1>A propos</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto beatae commodi cum est eum harum illo illum in, ipsa ipsam mollitia nam nemo nulla, possimus provident quidem sint voluptate?</p>
{% endblock %}

