{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/legal.js') }}"></script>
{% endblock %}


{% block title %}
    {{ parent() }}
    - Mentions légales
{% endblock %}

{% block body %}

    <h1>Mentions légales</h1>

{% endblock %}

