@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background: linear-gradient(lightblue, #BADA55);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Raleway', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.2s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}